input.form__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #141e27;
  outline: none;
  padding: 0 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

input.form__password {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #141e27;
  outline: none;
  padding: 0 10px;
  font-size: 20px;
}

form {
  position: relative;
}

label.label_email {
  position: absolute;
  top: -20px;
  left: 8px;
  color: #203239;
  text-transform: capitalize;
  font-size: 18px;
  transition: top 0.3s;
  padding: 0 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;}

label.label_password {
  position: absolute;
  top: 60px;
  left: 8px;
  color: #203239;
  text-transform: capitalize;
  font-size: 18px;
  transition: top 0.3s;
  padding: 0 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;}

::placeholder {
  color: transparent;
}

input.form__input:placeholder-shown ~ label {
  top: 3px;
}

input.form__password:placeholder-shown ~ label {
  top: 35px;
}

a.submit-button {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #EEEDDE;
  background: #141E27;
  font-size: 15px;
  /* margin: 10px; */
  margin-top: 25px;
  letter-spacing: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a span {
  position: absolute;
  display: block;
  background: #0396a6;
}

a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s;
}

a:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.25s;
}

a span:nth-child(2) {
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}

a:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s;
}

a span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.25s;
}

a:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.25s;
}

a span:nth-child(4) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s;
}

a:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.25s;
}
